@using DentalManagement.ViewModels.Common
@model PagedResult<DentalManagement.ViewModels.Catalog.Customers.CustomerViewModel>

@{
    ViewData["Title"] = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Khách hàng</li>
    </ol>
    <h1 class="h3 mb-2 text-gray-800">Danh sách khách hàng</h1>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a type="button" class="btn btn-outline-primary" asp-action="Create" asp-controller="Customer">
                <i class="fa fa-user-plus"></i>
                Tạo mới
            </a>
        </div>
        <div class="col-md-6 col-xs-12">
            <form asp-action="Index" asp-controller="Customer" method="get">
                <div class="input-group">
                    <input type="text" class="form-control border-1 small" placeholder="Nhập từ khoá ..."
                           aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/Customer/Index'">
                            X
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr />
    <!--number of record-->
    <div class="row">
        <form asp-action="Index" asp-controller="Customer" method="get" name="pageSize">
            <div class="form-group">
                <div class="col-md-12">
                    <select class="form-control" onchange="numberOfRecords()">
                        <option value="10" selected>Số lượng hiển thị</option>
                        <option value="20">20 khách hàng</option>
                        <option value="50">50 khách hàng</option>
                        <option value="100">100 khách hàng</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                Họ và tên
                            </th>
                            <th>
                                Giới tính
                            </th>
                            <th>
                                Ngày sinh
                            </th>
                            <th>
                                Số điện thoại
                            </th>
                            <th>
                                Tổng thành tiền
                            </th>
                            <th>
                                Tổng chiết khấu
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td colspan="8">Không có kết quả</td>
                            </tr>
                        }
                        else
                        {
                            int index = 1;
                            foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@(index++)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BirthDay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Sửa", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                        @Html.ActionLink(" Xóa", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>
