@using DentalManagement.ViewModels.Common
@model PagedResult<DentalManagement.ViewModels.Catalog.Invoices.InvoiceViewModel>

@{
    ViewData["Title"] = "Danh sách hoá đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
        <li class="breadcrumb-item active">Hoá đơn</li>
    </ol>
    <h1 class="h3 mb-2 text-gray-800">Danh sách hoá đơn</h1>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <a type="button" class="btn btn-outline-primary" asp-action="Index" asp-controller="Bill">
                <i class="fa fa-user-plus"></i>
                Tạo mới
            </a>
        </div>
        <div class="col-md-6 col-xs-12">
            <form asp-action="Index" asp-controller="Invoice" method="get">
                <div class="input-group">
                    <input type="date" class="form-control border-1 small"
                           aria-label="Search" aria-describedby="basic-addon2" value="@ViewBag.Keyword" name="keyword">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                        <button class="btn btn-outline-primary" type="button" onclick="window.location.href='/Invoice/Index'">
                            X
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr />
    <!--number of record-->
    <div class="row">
        <form asp-action="Index" asp-controller="Invoice" method="get" name="pageSize">
            <div class="form-group">
                <div class="col-md-12">
                    <select class="form-control" onchange="numberOfRecords()">
                        <option value="10" selected>Số lượng hiển thị</option>
                        <option value="20">20 hoá đơn</option>
                        <option value="50">50 hoá đơn</option>
                        <option value="100">100 hoá đơn</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm" width="100%" cellspacing="0">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Số hoá đơn
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th>
                                Ngày tạo
                            </th>
                            <th>
                                Giảm giá
                            </th>
                            <th>
                                Thành tiền
                            </th>
                            <th>
                                Thanh toán
                            </th>
                            <th>
                                Ghi chú
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Items.Count == 0)
                        {
                            <tr>
                                <td colspan="8">Không có kết quả</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => item.Customer.FullName)*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalDiscountAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalInvoiceAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PrepaymentAmount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Sửa", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Xem", "Details", new { id = item.Id }) |
                                        @Html.ActionLink(" Xóa", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>